#band-section{
    .band-section-container{
        width: 95%;
        margin: 5rem auto;
        
        @mixin largeScreen{
            width: 60%;
        }
        h1{
            font-weight: 260;
            letter-spacing: 4px;
            text-align: center;
        }
        h3{
            text-align: center;
            font-weight: 300;
            color: $leadColor;
        }
        p{
            line-height: 1.3;
            text-align: justify;
        }
        
        &__band-member-container{
            width: 100%;
            display: grid;
/*            margin-left: 20px;*/
/*            background: red;*/
            grid-template-columns: repeat(1,1fr);
/*            justify-content: space-around;*/
/*            grid-gap: 5rem;*/
            @mixin smallScreen{
                grid-template-columns: repeat(3,1fr);
            }
            &__member{
                width: 100%;
                p{
                    text-align: center;
                }
                justify-self: center;
                img{
                    margin-left: 20%;
                }
            }
        }
    }
}