#contact-section{
    .contact-container{
        width: 95%;
        margin: 0 auto;
        margin-bottom: 6rem;
        @mixin largeScreen{
            width: 60%;
        }
        h2{
            font-weight: 300;
            letter-spacing: 5px;
            text-align: center;
        }
        h3{
            color: $leadColor;
            text-align: center;
            font-weight: 300;
            font-size: 1rem;
            margin: 2rem 0;
        }
        
        &__grid{
            display: block;
            @mixin mediumScreen{
                display: grid;
                grid-template-columns: 1fr 1fr;
                
            }
            
            &__item{
                span.fa{
/*                    color: red;*/
                    padding-right: 1rem;
                }
                form{
                    .flex-div{
                        input{
                            width: 48%;
/*                            margin-bottom: 1rem;*/
                        }
                        width: 100%;
/*                        align-content: center;*/
                        justify-content: space-between;
                        display: flex;
/*                        flex-direction: column;*/
/*                        padding: 1rem;*/
/*                        align-items: center;*/
                    }
                    input[type="text"]{
                        padding: .5rem;
                    }
                    input[type="email"]{
                        padding: .5rem;
                    }
                    input.blk{
                        display: block;
                        width: 100%;
                        margin-top: 10px;
                    }
                    
                }
            }
                    button{
                        background: $black;
                        color: $white;
                        border: none;
                        padding: .5rem 1rem;
                        margin-top: 1rem;
                        margin-left: 78;
                        grid-column-start: 2;
                        @mixin mediumScreen{
                            width: 30%;
                            margin-left: 70%;
                        }
                    }
                    button:hover{
                        background-color: $hoverColor;
                        color: $black;
                        cursor: pointer;
                    }
        }
    }
}