#header-showcase{
    .main-bg-container{
    padding-top: 2rem;
/*    padding: 0;*/
    background: url("assets/images/hs.jpg") no-repeat center center;
    width: 100%;
    height: 50vh;
    background-size:cover;
/*    background-attachment: fixed;*/
    position: relative;
        @mixin smallScreen{
            height: 60vh;
        }
        @mixin mediumScreen{
            height: 70vh;
        }
        @mixin largeScreen{
            height: 100vh;
        }
    &__txt-wrapper{
        display: none;
        position: absolute;
        top: 80%;
        left: 40%;
        h2{
            color: $white;
            font-weight: 300;
            text-align: center;
        }
        p{
            color: $white;
/*            font-style: italic;*/
        }
        @mixin mediumScreen{
            display: block;
            left: 35%;
            top: 75%;
        }
        @mixin extraLargeScreen{
            left: 40%;
        }
    }
    }        
}
