#navbar{
    nav{
        position: fixed;
        z-index: 9999;
        display: grid;
        width: 100%;
        grid-template-columns: .1fr 1fr;
        @mixin largeScreen{
            grid-template-columns: 1fr 1fr;
        }
        background: $black;
        .nav-list-1{
            .home{
/*                padding: .5rem;*/
                display: block;
            }
            @mixin largeScreen{
                display: flex;
            }
            &__item{
                font-size: 1rem;
                color: $white;
                padding: 1rem 1.5rem;;
                list-style: none;
                font-family: 'Lato',sans-serif;
                display: none;
                
                @mixin largeScreen{
                    display: block;
                }
            }
            
            &__item:hover{
                background: $hoverColor;
                color: $black;
                cursor: pointer;
            }
            
            &__sub-item{
                position: relative;
                padding: 1rem .5rem;
                list-style: none;
                font-family: 'Lato',sans-serif;
                color: $white;
                display: none;
                @mixin largeScreen{
                    display: block;
                }
                &__sub-list{
                    box-shadow:-1px -1px 5px #666;
                    position: absolute;
                    background: $white;
                    color: $black;
                    top: 100%;
                    list-style: none;
                    left: 0;
                    
                    &__item:hover{
                        background: $hoverColor;
                    }
                    display: none;
                    
                    &__item{
                        padding: .5rem 1.5rem;
                    }
                }
                &:hover{
                    background: $hoverColor;
                    color: $black;
                    cursor: pointer;
                    
                    &__sub-list{
                        display: block;
                    }
                }
            }

        }
        
        .nav-list-2{
            justify-self: end;
            &__item{
                padding: 1rem;
                color: $white;
                &.fa-bars{
                    height: 100%;
                    display: block;
                    @mixin largeScreen{
                        display: none;
                    }
                }
                &.fa-search{
                    height: 100%;
                    display: none;
                    @mixin smallScreen{
                        display: none;
                    }
                    @mixin largeScreen{
                        display: block;
                    }
                }
                &.fa-search:hover{
                    cursor: pointer;
                    background: $red;
                }    
                &.fa-bars:hover{
                    background: $hoverColor;
                    color: $black;
                    cursor: pointer;
                }
            }
            
        }
        
    }
    .collapse-navbar{
        grid-column-start: 1;
        grid-column-end: 4;
        display: none;
            width: 100%;
/*            background: #FC3;*/
/*            display: none;*/
            &__nav-list{
                width: 100%;
                display: block;
                &__item{
                    width: 100%;
                    padding: 1rem 1.5rem;
                    color: $white;
/*                    background: red;*/
                    &:hover{
                        background: $hoverColor;
                        color: $$black;
                        cursor: pointer;
                    }
                }
            }
    }
}



#subli:hover #subul{
    display: block;
}

