#tour-section{
    .tour-section-full-container{
        width: 100%;
        background: $black;
        
        .tour-section-container{
        width: 95%;
        margin: 8rem auto;
        padding-bottom: 4rem;
/*        background: $black;*/
            @mixin largeScreen{
                width: 60%;
        }    
        h2{
            padding-top: 4rem;
            font-weight: 300;
            color: $white;
            text-align: center;
        }
        h3{
            color: $leadColor;
            font-weight: 300;
            text-align: center;
            padding-top: 1rem;
        }
        
            &__months-container{
                width: 100%;
                background: $white;
                margin-top: 3rem;
                &__item{
                    border-bottom: solid 1px lightgray;
                    padding: .1rem;
/*                    margin-left: 1rem;*/
                    padding-left: 1rem;
                    span.sold-out{
                        background: $red;
                        color: $white;
                        padding: .4rem;
                        margin-left: 20px;
                    }
                }
                &__sub-item{
/*                    box-sizing: border-box;*/
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    padding-left: 1rem;
                    p.free{
                        justify-self: end;
                        text-align: center;
                        background: $black;
                        color: $white;
                        border-radius: 50%;
                        padding: 0 1rem;
                        margin-right: 1rem;
                    }
                }
            }
            
            &__places-container{
                margin-top: 4rem ;
                width: 100%;
/*                padding: 1rem;*/
                
/*                justify-content: space-around;*/
                @mixin smallScreen{
                    display: grid;
                    grid-gap: 1rem;
                    grid-template-columns: 1fr 1fr 1fr;
                }
                &__item{
                    img:hover{
                        opacity: .7;
                    }
                    margin-bottom: 1rem;
                    background: $white;
                    &__text-container{
                        padding: 1rem;
                        p.place{
                            color: $black;
                            font-weight: 900;
/*                            padding-left: 10px;*/
                        }
                        p.date{
                            color: $leadColor;
                        }
                        
                        
                    }
                    button{
                        padding: .8rem;
                        border: none;
                        color: $white;
                        background: $black;
                    }
                    button:hover{
                        background: $leadColor;
                        color: $black;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}